/* set font family */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto', Arial, sans-serif; /* using Roboto as the primary font */
  color: rgb(36, 36, 36); /* sets text color to a dark gray */
}

/* center header text and add margin at the bottom */
header {
  text-align: center;
  margin-bottom: 50px;
}

header {
  background-image: url('BG.jpg'); /* set the path to your image */
  background-size: contain; /* set the background-size to cover the entire header */
  background-repeat: no-repeat;
  background-position: center center; /* center the background image */
  height: 500px; /* set the height of the header */
  font-family: 'Segoe UI', Arial, sans-serif; /* set a separate font type for the header */
  color: #fff; /* set the color of the font to white */
  text-shadow: 1px 1px 2px #000; /* set the color of the font border to black */  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* add margin at the bottom of sections */
section {
  margin-bottom: 20px;
}

/* remove top margin of headings */
h1, h2 {
  text-align: center;
  margin-top: 0;
}

h3 {
  text-align: center;
  margin-top: 0;
}

/* remove bullet points and left padding of unordered lists */
ul {
  list-style: none;
  padding-left: 0;
}

/* Media Queries */
@media only screen and (max-width: 768px) { /* styles for screen widths up to 768px */
  body {
    font-size: 14px; /* decrease font size for smaller screens */
  }
  header {
    background-image: url('BG.jpg'); /* set the path to your image for smaller screens */
    height: 200px; /* set the height of the header for smaller screens */
    padding: 10px; /* add padding to header for smaller screens */
  }
  section {
    padding: 10px; /* add padding to sections for smaller screens */
  }
}

.LinkedIn-link {
  color: #ffffff; /* set the color of the link to LinkedIn blue */
  text-decoration: none; /* remove the underline */
}


@media only screen and (min-width: 769px) { /* styles for screen widths above 769px */
  body {
    font-size: 16px; /* increase font size for larger screens */
  }
  header {
    padding: 20px; /* add padding to header for larger screens */
  }
  section {
    padding: 20px; /* add padding to sections for larger screens */
  }
}

